{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <style>
        #signup-container {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
            text-align: center;
            margin-top: 50px;
        }

        #signup-heading {
            color: #28a745;
            font-size: 36px;
            margin-bottom: 20px;
        }

        #signup-form {
            width: 400px; /* Increased width for a bit of horizontal spread */
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        #signup-form label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }

        #signup-form input {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        #signup-form button {
            background-color: #28a745;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        #signup-form button:hover {
            background-color: #218838;
            color: #fff;
        }
    </style>

    <div id="signup-container">
        <h1 id="signup-heading">Sign Up</h1>
        <div id="signup-form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </div>

    <br><br><br> <!-- Add 3 line spaces here -->
{% endblock page_content %}
