

{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="all-title-box">
    <div class="container text-center">
        <h1>About Us<span class="m_1">GOLDEN EYE ACADEMY</span></h1>
    </div>
</div>

{% block overview %}
{% include 'overview.html' %}
{% endblock %}

<div class="hmv-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="inner-hmv">
                    <div class="icon-box-hmv"><i class="flaticon-achievement"></i></div>
                    <h3>Mission</h3>
                    <div class="tr-pa">M</div>
                    <p>
                        Welcome to Golden Eye Academy, where our mission is to provide formal and authorized training, preparation classes, language classes, computer classes, 
                        and various motivational sessions. As a dedicated educational organization, Golden Eye Academy was founded with the motto "Complete Solution for Preparation." We offer a range of options to help you build your golden future. Step into the ocean of knowledge with us, where 
                        you can dive deep and achieve the best. Our mission is to cultivate a community of lifelong learners who are motivated by curiosity and a relentless pursuit of greatness by serving as a beacon of information, innovation, and inspiration.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="inner-hmv">
                    <div class="icon-box-hmv"><i class="flaticon-eye"></i></div>
                    <h3>Vision</h3>
                    <div class="tr-pa">V</div>
                    <p>At Golden Eye Academy, we see a day when education breaks down barriers, enabling people to reach their 
                        greatest potential and improve the world. As we see it, Golden Eye Academy is a model of leadership in 
                        education, constantly embracing new ideas and cutting edge approaches. We work hard to set standards in 
                        computer literacy, language competency, academic readiness, and motivational coaching so that our students 
                        are equipped to take on whatever difficulties lie ahead.We envision a legacy of excellence, where the impact
                         of Golden Eye Academy resonates in the achievements and contributions of our alumni across diverse fields.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="inner-hmv">
                    <div class="icon-box-hmv"><i class="flaticon-history"></i></div>
                    <h3>History</h3>
                    <div class="tr-pa">H</div>
                    <p>With Golden Eye Academy's founding in 2008, a vision for revolutionary education began to take shape. The 
                        school was founded in response to the changing nature of education and set out to transform how people
                         handled preparation and learning.Golden Eye Academy's motto, "Complete Solution for Preparation," has 
                         served as its compass throughout its existence, signifying its steadfast dedication to provide comprehensive
                          educational services. The school has established standards for excellence and innovation in education thanks 
                          to its agility and resilience.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

