{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="all-title-box">
	<div class="container text-center">
		<h1>Course Grid 2<span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
	</div>
</div>

<div id="overviews" class="section wb">
	<div class="container">
		<div class="section-title row text-center">
			<div class="col-md-8 offset-md-2">
				<p class="lead">Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem!</p>
			</div>
		</div><!-- end title -->

		<hr class="invis"> 

		<!-- Abroad Study -->
		<div class="row"> 
			<div class="col-lg-6 col-md-6 col-12">
				<div class="course-item">
					<div class="image-blog">
						<img src="{% static 'images/blog_1.jpg' %}" alt="" class="img-fluid">
					</div>
					<div class="course-br">
						<div class="course-title">
							<h2><a href="#" title="">Abroad Study</a></h2>
						</div>
						<div class="course-desc">
							<p>
								- IELTS/TOFEL/CAE<br>
								- UK, New Zealand, Australia, Japan, Finland and many more...
							</p>
						</div>
					</div>
				</div>
			</div><!-- end col -->

			<!-- Computer Classes -->
			<div class="col-lg-6 col-md-6 col-12">
				<div class="course-item">
					<div class="image-blog">
						<img src="{% static 'images/blog_2.jpg' %}" alt="" class="img-fluid">
					</div>
					<div class="course-br">
						<div class="course-title">
							<h2><a href="#" title="">Computer Classes</a></h2>
						</div>
						<div class="blog-desc">
							<p>
								- Basic / Diploma Course<br>
								- Graphic/Web Designing<br>
								- Accounting Package<br>
								- Hardware & Networking<br>
								- Programming C, C++, Java, Php etc
							</p>
						</div>
					</div>
				</div>
			</div><!-- end col -->
		</div><!-- end row -->
		
		<!-- English Language -->
		<div class="row"> 
			<div class="col-lg-6 col-md-6 col-12">
				<div class="course-item">
					<div class="image-blog">
						<img src="{% static 'images/blog_3.jpg' %}" alt="" class="img-fluid">
					</div>
					<div class="course-br">
						<div class="course-title">
							<h2><a href="#" title="">English Language</a></h2>
						</div>
						<div class="course-desc">
							<p>
								- Basic / Advance<br>
								- Intermediate/SALSA
							</p>
						</div>
					</div>
				</div>
			</div><!-- end col -->

			<!-- Language Classes -->
			<div class="col-lg-6 col-md-6 col-12">
				<div class="course-item">
					<div class="image-blog">
						<img src="{% static 'images/blog_4.jpg' %}" alt="" class="img-fluid">
					</div>
					<div class="course-br">
						<div class="course-title">
							<h2><a href="#" title="">भाषाका कक्षाहरू (Language Classes)</a></h2>
						</div>
						<div class="blog-desc">
							<p>
								- कोरियन, जापानिज हिब्रु, चाईनिज जर्मनी आदि (Korean, Japanese, Hebrew, Chinese, German, etc.)
							</p>
						</div>
					</div>
				</div>
			</div><!-- end col -->
		</div><!-- end row -->
		
		<!-- Preparatory Classes -->
		<div class="row"> 
			<div class="col-lg-6 col-md-6 col-12">
				<div class="course-item">
					<div class="image-blog">
						<img src="{% static 'images/blog_5.jpg' %}" alt="" class="img-fluid">
					</div>
					<div class="course-br">
						<div class="course-title">
							<h2><a href="#" title="">तयारी कक्षा (Preparatory Classes)</a></h2>
						</div>
						<div class="course-desc">
							<p>
								- लोकसेवा आयोगः ना.सु खरिदार, अधिकृत (Public Service Commission: Assistant Subba, Kharidar, Officer)<br>
								- शिक्षक सेवाः मा.वि., नि.मा.वि, प्रा.वि. (Teacher Service: Secondary School, Lower Secondary School, Primary School)<br>
								- बैकिङ सेवाः राष्ट्रबैक, वाणिज्य बैंक, नेपाल बैंक (Banking services: Rastra Bank, Commercial Bank, Nepal Bank)<br>
								- प्रहरी तथा सैनिक सेवा आदि । (Police and Military Services, etc.)
							</p>
						</div>
					</div>
				</div>
			</div><!-- end col -->
		</div><!-- end row -->
	</div><!-- end container -->
</div><!-- end section -->

{% endblock content %}
{% block testimonial %}
{% include 'testimonial.html' %}
{% endblock %}
